services:
  server:
    image: klakegg/hugo:0.111.1
    container_name: zine.plural.ziegel.me
    environment:
      HUGO_ENV: production
      HUGO_BASEURL: https://zine.plural.ziegel.me
    command: server -b "https://zine.plural.ziegel.me" --disableFastRender -p "443"
    restart: always
    networks:
      - web
    volumes:
      - .:/src
    ports:
      - 1310:443
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plural-zine.rule=Host(`zine.plural.fyi`)"
      - "traefik.http.routers.plural-zine.entrypoints=https"
      - "traefik.http.routers.plural-zine.tls=true"
      - "traefik.http.routers.plural-zine.tls.certresolver=letencrypt"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto = https"

networks:
  web:
    external: true
